* {
    box-sizing: border-box;
}

body {
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
    background-image: url("slike/background.jpg");
    background-repeat: repeat;
    background-size: auto;
    background-position: center;
    overflow-y: auto;
}

.background-box {
    background-color: rgba(255, 255, 255, 0.78);
    border-radius: 30px;
    padding: 40px;
    margin: 30px auto;
    width: 90%;
    max-width: 1200px;
    position: relative;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.12);
}

.home-content {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
    margin-top: 60px; 
    flex-wrap: wrap;
}

.left-column {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    position: relative;
}

.left-column img {
    width: 330px;
    border-radius: 25px;
    max-width: 100%;
    left: -100px; 
    position: relative;
}

.right-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 470px;
    margin-left: 170px;
    margin-top: -40px;
}

/* PLAVI HEADER */
.header {
    background-color: #CFE3D8;
    color: #2f3d37;
    padding: 30px;
    border-radius: 18px; 
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 480px;  
}

.header h1 {
    font-size: 2.6rem;
    margin: 0;
}

.header2 {
    background-color: #CFE3D8;
    color: #2f3d37;
    padding: 30px;
    border-radius: 18px; 
    margin-bottom: 20px;
    display: flex;
    right: -600px;
    flex-direction: column;
    justify-content: center;
    max-width: 480px; 
    position: relative; 
}

.subtitle {
    font-style: italic;
}

.social-clouds {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.small-card {
    width: 140px;
    padding: 14px 18px;
    text-align: center;
    cursor: pointer;
}

.small-card a {
    font-size: 1.05rem;
    font-weight: 500;
    color: #3b5c4b;
    text-decoration: none;
}

.small-card a:hover {
    color: #2f7a5a;
}

.contact-form-container {
    width: 70%;
    margin: 80px auto 40px auto;
}

.card {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 25px;
    border-radius: 18px;
    margin-bottom: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

img,
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

img:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.header:hover,
.card:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.30);
}

@keyframes softIn {
    from {
        opacity: 0;
        transform: translateY(30px) scale(0.98);
        filter: blur(6px);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
        filter: blur(0);
    }
}

.background-box,
.header,
.card {
    animation: softIn 0.9s ease-out forwards;
}

.home-layout {
    align-items: center;
    justify-content: center;
}

.main-header {
    width: 420px;
    position: relative;
}

.home-image img {
    width: 350px;
    max-width: none;
}

.contact-mail {
    text-align: center;
    width: 50%;
}

.contact-form-container form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contact-form-container input[type="text"],
.contact-form-container input[type="email"],
.contact-form-container textarea {
    width: 100%;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-family: Georgia, serif;
    font-size: 1rem;
    resize: vertical;
}

.contact-form-container input[type="submit"] {
    width: 150px;
    padding: 10px 20px;
    border-radius: 12px;
    border: none;
    background-color: #CFE3D8;
    color: #2f3d37;
    font-size: 1rem;
    cursor: pointer;
    align-self: flex-start;
    transition: background-color 0.7s ease;
}

.contact-form-container input[type="submit"]:hover {
    background-color: #b0d1c3;
}

.social-clouds {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: nowrap;
    margin-top: 20px;
}

.social-clouds .small-card {
     flex: 0 0 auto;         
    padding: 16px 24px;      
    font-size: 1.2rem;      
    background-color: white;
    border-radius: 14px;    
    box-shadow: 0 6px 18px rgba(0,0,0,0.15); 
    text-decoration: none;
    color: #2f3d37;
    font-weight: 500;
    transition: all 0.3s ease;
    text-align: center;
}

.social-clouds .small-card:hover {
    background-color: #d5e5da;
    color: #2f7a5a;
    transform: translateY(-3px) scale(1.05); 
    box-shadow: 0 8px 22px rgba(0,0,0,0.2);
}

.audio-wrapper {
  position: absolute;
  top: 100px; 
  left: 30px;
  background-color: white; 
  padding: 10px 14px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
  font-size: 1.5rem;
  color: black; 
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 50;
   width: 60px;        
  height: 60px;
}

.audio-wrapper.active {
  background: linear-gradient(135deg, #2f7a5a, #b0d1c3); 
  color: white; 
}

.audio-menu {
  position: absolute;
  top: 0;
  left: 110%;
  background-color: white;
  border-radius: 12px;
  padding: 10px 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  display: none;
  flex-direction: column;
  gap: 8px;
  min-width: 150px;
}

.audio-menu a {
  font-size: 1rem;
  color: #2f3d37;
  text-decoration: none;
  transition: color 0.2s ease;
}

.audio-menu a:hover {
  color: #2f7a5a;
}

.audio-icon {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.site-footer {
  text-align: center;
  padding: 20px 0;
  font-size: 0.9rem;
  font-weight: normal;
  background-color: #CFE3D8; 
  margin-top: 40px;
  border-radius: 0 0 18px 18px;
}

.nav-dropdown {
    position: absolute;
    top: 70px;             
    left: 80px;            
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    gap: 15px;
    flex-direction: column;

    background-color: #CFE3D8;   
    border-radius: 28px;

    display: flex;
    justify-content: center;     
    align-items: center;         

    box-shadow: 0 12px 30px rgba(0,0,0,0.18);
    transition: all 0.45s ease;
    transform: translateY(-15px) scale(0.95);
}

.nav-toggle {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 60px;          
    height: 55px;           
    border-radius: 12PX;     
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    transition: all 0.4s ease;
    z-index: 1000;
}

.nav-toggle .menu-icon {
    font-size: 1.8rem;
    color: #2f3d37;
    transition: color 0.3s ease;
}

.nav-toggle.active {
    width: 1100px;        
    height: auto;
    border-radius: 18px;
}

.nav-toggle.active .nav-dropdown {
    width: 100%;
    height: auto;
    padding: 15px 20px;
    border-radius: 18px;
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

.nav-dropdown a {
     text-decoration: none;
    color: #2f3d37;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;  
    transition: all 0.3s ease;
}

.nav-dropdown a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;             
    width: 0;                  
    background-color: #2f7a5a;
    transition: width 0.3s ease;
}

.nav-dropdown a:hover {
    color: #2f7a5a;
}

.nav-toggle:hover {
    width: 1100px;
    height: 55px;
    border-radius: 18px;
    background: linear-gradient(135deg, #2f7a5a, #b0d1c3);
}

.nav-toggle:hover .nav-dropdown {
    width: 1000px;
    height: 520px;
    padding: 30px;
    opacity: 1;
    transform: translateY(0) scale(1);
}

.nav-clouds {
    display: flex;
    flex-direction: column;   
    justify-content: center;  
    align-items: center;      
    gap: 16px;                
    width: 100%;
}

.nav-toggle:hover,
.nav-toggle.active {
    background: linear-gradient(135deg, #2f7a5a, #b0d1c3) 
}

.nav-toggle:hover .menu-icon,
.nav-toggle.active .menu-icon {
    color: white;
}

.nav-white-cloud {
    background-color: white;
    border-radius: 26px;
    padding: 55px 180px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    
    animation: softIn 0.5s ease forwards;
}

.nav-table {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.nav-cell {
    text-align: center;
}

.nav-cell a {
    display: block;
    background-color: #f4f9f6;
    padding: 14px 22px;
    border-radius: 10px;
    text-decoration: none;
    color: #2f3d37;
    font-weight: 500;
    font-size: 1.4rem;
    box-shadow: 0 6px 14px rgba(0,0,0,0.12);
    transition: all 0.3s ease;
}

.nav-cell a:hover {
    background-color: #dfeee7;
    color: #2f7a5a;
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 0 0 3px #2f7a5a;
    border-radius: 50px;          
}

.nav-white-cloud table.nav-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
    text-align: center;
}

.nav-white-cloud table.nav-table td a {
    display: block;
    padding: 18px 25px;
    background-color: #f4f9f6;
    border-radius: 18px;
    text-decoration: none;
    color: #2f3d37;
    font-weight: 500;
    box-shadow: 0 6px 14px rgba(0,0,0,0.12);
    transition: all 0.3s ease;
}

.nav-white-cloud table.nav-table td a:hover {
    background-color: #dfeee7;
    transform: translateY(-3px) scale(1.05);
    color: #2f7a5a;
}

.about-page {
    overflow-y: auto;
}

.about-page .background-box {
    max-height: none;
}

.container {
    display: flex;
    width: 100%;
    gap: 40px;
    align-items: flex-start;
    justify-content: center;
}

.favorites-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    table-layout: fixed;
}

.favorites-table th,
.favorites-table td {
    padding: 12px 14px;
    text-align: left;
    vertical-align: top;
    font-weight: normal;
}

.favorites-table th {
    color: #2f3d37;
    border-bottom: 2px solid #CFE3D8;
    font-size: 1.05rem;
}

.favorites-table td {
    border-bottom: 1px solid #ddd;
}

.favorites-table th:not(:last-child),
.favorites-table td:not(:last-child) {
    border-right: 1px solid #ddd;
}

.favorites-table tr:last-child td {
    border-bottom: none;
}

.favorites-table td {
    transition: background-color 0.25s ease, color 0.25s ease;
}

.favorites-table td:hover {
    background-color: rgba(207, 227, 216, 0.45);
    color: #2f3d37;
}
.link {
    color: #4a665b;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

.schedule-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 0.95rem;
}

.schedule-table th,
.schedule-table td {
    border: 1px solid #ccc;
    padding: 8px;
}

.schedule-table th {
    background-color: #CFE3D8;
    color: #2f3d37;
}

.schedule-table td {
    color: #2f3d37;
}

.schedule-table td:hover {
    opacity: 0.85;
}

.slider-card {
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: 1200px;   
}

.slider {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
}

.slide {
    display: none;
    width: 100%;
    height: 380px;      
    object-fit: cover; 
    border-radius: 20px;
}

.slide.active {
    display: block;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #CFE3D8;      
    color: #2f3d37;
    border: none;
    font-size: 26px;
    padding: 10px 16px;
    border-radius: 50%;
    cursor: pointer;
}

.slider-btn:hover {
    background: #b8d8cb;  
    transform: translateY(-50%) scale(1.08);
}

.slider-btn.left {
    left: -65px;
}

.slider-btn.right {
    right: -65px;
}

.basketball-card {
    display: flex;
    flex-direction: row;       
    align-items: center;      
    gap: 20px;
    width: 100%;               
    max-width: 1200px;          
    padding: 25px;
    box-sizing: border-box;
}

.basketball-card img {
    width: 150px;              
    height: auto;
    flex-shrink: 0;            
    border-radius: 10px;
}

.basketball-card p {
    flex: 1;                   
    margin: 0;                 
    line-height: 1.5;          
}

.schedule-table tbody tr {
    height: 90px; 
}

.schedule-table td {
    padding: 15px 10px;
    vertical-align: middle; 
}

.laag {
    background-color: #FFF3E0; /* светло-наранџаста */
    border-radius: 10px;
    padding: 10px;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.laag:hover {
    background-color: #FFB74D; /* тамнија наранџаста */
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
    cursor: pointer;
    color: #111111;
}

.ds1 {
    background-color: #E0F7FA; /* светло-тиркизна */
    border-radius: 10px;
    padding: 10px;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.ds1:hover {
    background-color: #26C6DA; /* тамнија тиркизна */
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
    cursor: pointer;
    color: #111111;
}

.up {
    background-color: #E8F5E9; /* светло-зелена */
    border-radius: 10px;
    padding: 10px;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.up:hover {
    background-color: #66BB6A; /* тамнија зелена */
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
    cursor: pointer;
    color: #111111;
}

.tnp {
    background-color: #EDE7F6; /* светло-лила */
    border-radius: 10px;
    padding: 10px;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.tnp:hover {
    background-color: #9575CD; /* тамнија љубичаста */
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
    cursor: pointer;
    color: #111111;
}

.dzp {
    background-color: #FFFDE7; /* светло-жута */
    border-radius: 10px;
    padding: 10px;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.dzp:hover {
    background-color: #FFF176; /* тамнија жута */
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
    cursor: pointer;
    color: #111111;
}

.ui {
    background-color: #F3E5F5; /* светло-љубичаста */
    border-radius: 10px;
    padding: 10px;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);

}
.ui:hover {
    background-color: #BA68C8; /* тамнија љубичаста */
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
    cursor: pointer;
    color: #111111;
}

.subject-link {
    display: block;       
    text-decoration: none; 
    color: inherit;        
}

.subject-link:hover {
    color: inherit;       
}

.home-content1 {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin-top: 60px;
    flex-wrap: wrap; 
}

.left-column1 { 
    flex: 0 0 330px; 
}

.left-column1 img {
    width: 100%;
    border-radius: 25px;
    display: block;
}

.right-column1 {
    flex: 1; 
}

.card img.centered-image {
    display: block;       
    margin: 20px auto;    
    width: 80%;           
    max-width: 500px;      
    border-radius: 20px;  
}

.social-clouds .small-card {
    position: relative;
    overflow: hidden;
}

.social-clouds .small-card::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #2f7a5a;
    transition: all 0.35s ease;
    transform: translateX(-50%);
}

.social-clouds .small-card:hover::after {
    width: 60%;
}

.green-link {
    color: #2f7a5a;             
    text-decoration: none;       
    position: relative;           
    transition: color 0.3s ease;
}

.green-link::after {
    content: "";                 
    position: absolute;
    left: 0;
    bottom: 0;                    
    height: 2px;                 
    width: 0;                       
    background-color: #66bb6a;    
    transition: width 0.35s ease; 
}

.green-link:hover::after {
    width: 100%;                  
}

.green-link:hover {
    color: #66bb6a;               
}

.clickable-td {
    cursor: pointer;                
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;             
}

#backToTop {
    position: fixed;
    bottom: 140px;
    right: 45px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #b0d1c3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none; 
    z-index: 1000;
    transition: background-color 0.3s;
}
#backToTop:hover {
    background-color: #2f7a5a;
}