*{
    padding: 0;
    margin: 0;
}

html{
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #1a1a1a;
    color: #fff;
    padding: 14px;
    text-align: center;
}

a{
    color: #0998e0;
}

nav a {
    color: #0998e0;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
}

nav a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 20px;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.text-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
}

.text-container section{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.latex-container{
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 30px;
}

.latex-container a{
    text-decoration: none;
}

.latex-container a:hover{
    text-decoration: underline;
}

.img-container{
    display: flex;
    justify-content: center;
}

.img-container img{
    max-height: 100%;
    max-width: min(100%, 400px);
    object-fit: contain;
    border-radius: 10px;
}

@media screen and (min-width: 960px) {
    .main-container{
        flex-direction: row;
        flex-grow: 1;
        justify-content: space-between;
        max-width: 1000px;
        align-items: normal;
    }

    .img-container{
        display: block;
    }
}