*{
    padding: 0;
    margin: 0;
}

html{
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #1a1a1a;
    color: #fff;
    padding: 14px;
    text-align: center;
}

a{
    color: #0998e0;
}

nav a {
    color: #0998e0;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
}

nav a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 20px;
}

.section-container{
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.list-container, .table-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.list-container h2, .table-container h2{
    text-align: center;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#table{
    border: 1px solid black;
    border-collapse: collapse;
}

#table th, #table td{
    padding: 6px 12px;
}

#table td{
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#table th{
    border: 1px solid black;
}