body {
    background-color: cornflowerblue;
    color: #e0e0e0;
    margin: 0;
    padding: 0 ;
    line-height: 1.5;
}

.navbar {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid black;
    justify-content: space-between;
}

#strana{
    font-weight: bold;
    font-size: x-large;
    width: auto;
    margin: 10px 10px;
}

.list{
    width:max-content;
    margin: 10px 10px;
    padding: 10px 10px;
    border: none;
    display: flex;
    gap: 10px;
}

.list a{
    font-size: x-large;
    border: 2px solid black;
    border-radius: 12px;
    padding: 5px 10px;
}

div {
    background-color:lightslategrey;
    border: 2px solid black;
    justify-self: center;
    border-radius: 12px;
    padding: 10px 15px;
    margin: 30px 0px;
    width: 35%;
}

.profilna {
    display: flex;
    gap: 50px;
}

.text {
    font-size: larger;
    border: none;
    background:none;
}

a {
    transition: all 0.3s ease;
    text-decoration: none;
    color:aqua;
}

a::after {
    background: linear-gradient(90deg, aqua, blueviolet );
    transition: width 0.3s ease;
}

a:hover {
    color: blueviolet;
}

.foto {
    transition: transform 0.3s, box-shadow 0.3s;
    border: 2px solid black;
    border-radius: 12px;
    margin: 30px  30px;
    width: 160px;
}

.foto:hover {
    transform: scale(1.05);
}

table{
    border: 2px solid black;
    border-radius: 12px;
    justify-self: center;
    position: relative;
    margin: 15px 15px;
    width: 95%; 
}

tr,td,th {
    border: 2px solid black;
    border-radius: 12px;
    text-align: center;
    padding: 10px;
}

td {
    text-align: left;
}

#kontakt{
    align-content: center;
    display: block;
    font-size: large;
    width: auto;
    padding: 20px 60px;
}

#kontakt h3 {text-align: center;}

#kontakt input,textarea, button {
    width: 100%;
    border-radius: 4px;
    border-color: #ccc;
}

#kontakt button {
    border-color: black;
    background-color: #3b82f6;
    color: white;
}

#prikaz{
    width: 70%;
    height: 800px;
}

iframe{
    width: 100%;
    height: 100%;
}

#download{
    width: fit-content;
    font-size: x-large;
}   
