html {
    background-color: #000000;
    background-image: url(slike/pozadina.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#glava {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url(slike/header.gif);
    color: #fff;
    padding: 10px;
    text-align: center;
    border-bottom: 5px solid black;
}

body {
    padding-top: 105px;
    color: #ffffff; /* sva slova bela */
}

#naslov {
    border: 1px solid #006400;
    border-radius: 2px;
    background-image: url(slike/serveri.jpg);
    background-size: cover;
    background-position: center;
    padding: 32px 24px;
    margin: 20px;
    margin-right: 35px;
    font-family: 'Times New Roman', serif;
}

a {
    display: inline-block;
    padding: 20px;
    margin-left: 20px;
    border-bottom: 2px solid transparent;
    color: #00d600;
    text-align: center;
    text-decoration: none;
}

a:hover {
    color: white;
    border-bottom-color: white;
}

h1 {
    background-color: #000000d3;
    margin: 0;
    border-radius: 5px;
}

#naslovna {
    object-fit: cover;

    /* Величина слике */
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

#showoff{
    float: right;
    width: 560px;
    height: 360px;
    border: 5px solid #006400;
    margin-top: 200px;
    margin-right: 120px;
}

p {
    text-decoration: solid;
    font-size: 50px;
    margin-left: 50px;
    color: #fff;
}

#slogan {
    margin-top: 150px;
    margin-left: 150px;
    margin-right: 1350px;
    padding-right: 50px;
    border: 5px solid #000000;
    background-color: #006400;
    text-align: center;
}

#Dezerti{
    float: left;
    padding-top: 10px;
    padding-bottom: 25px;
    margin-top: 100px;
    padding-right: 200px;
    padding-left: 20px;
    border: 2px solid #000000;
    border-left: 0px;
    background-color: #006400;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    font-size: 30px;
}

#prvi{
    margin-left: 1050px;
    margin-top: 150px;
    padding: 25px;
    font-size: 30px;
    background-color: #006400;
}

#pod{
    margin-top: 20px;
    width: 99%;
    background-color: #006400;
    color: #fff;
    padding: 10px;
    padding-bottom: 25px;
    border-bottom: 5px solid black;
}

#tabla {
    float: right;
    border: 5px solid #000000;
    background-color: #006400;
    padding: 100px;
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;
}

.projekti-naslov {
    font-size: 40px; /* veći font za Moji projekti */
    font-weight: bold;
    color: #ffffff;
}

.naziv-projekta {
    font-weight: bold;
    border: 2px solid #000000; /* crni border */
    background-color: #0132d1; /* svetlo plava pozadina */
    padding: 5px;
}

#insta, #tiktak, #facebook, #youtube {
    width: 40px;
    height: 40px;
    margin-top: 7px;
}

.opis-projekta {
    border: 2px solid #000000;
    background-color: #ff9900; /* narandžasta pozadina */
    padding: 10px;
    color: #ffffff;
}

#galerija {
    margin-top: 550px;
    padding: 50px;
    background-color: #006400;
    border: 5px solid #000000;
    text-align: center;
}

#galerija h3 {
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 20px;
}

#galerija img {
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
