html {
    background-color: #000000; /* crna boja kao fallback */
    background-image: url(slike/pozadina.jpg); /* pozadinska slika */
    background-size: cover;       /* da pokrije celu stranu */
    background-position: center;  /* centrirana */
    background-repeat: no-repeat; /* bez ponavljanja */
}


#glava {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url(slike/header.gif); /* crna boja header panela */
    color: #fff;
    padding: 10px;
    text-align: center;
    border-bottom: 5px solid black;
}

body{
    padding-top: 205px;
}

#naslov {
    border: 1px solid #006400; /* tamno zelena ivica */
    border-radius: 2px;
    background-image: url(slike/serveri.jpg); /* pozadina serveri.jpg */
    background-size: cover;
    background-position: center;
    padding: 32px 24px;
    margin: 20px;
    margin-right: 35px;
    font-family: 'Times New Roman', serif;
}

a {
    /* padding не ради без inline-block */
    display: inline-block;
    padding: 20px;
    /* Прегледач додаје маргине које не желимо */
    margin-left: 20px;
    /* Додајемо доњу ивицу без боје */
    border-bottom: 2px solid transparent;
    /* Стилизујемо текст */
    color: #00d600;
    text-align: center;
    text-decoration: none;
}

a:hover {
    color: white;
    border-bottom-color: white;
}

h1 {
    /* Прегледач има подразумевану маргину на елементу. */
    background-color: #000000d3;
    margin: 0;
    border-radius: 5px;
}

#naslovna {
    object-fit: cover;

    /* Величина слике */
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

#showoff{
    float: right;
    width: 560px;
    height: 360px;
    border: 5px solid #006400;
    margin-top: 200px;
    margin-right: 120px;
}

p {
    text-decoration: solid;
    font-size: 50px;
    margin-left: 50px;
    color: #fff;
}

#slogan {
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 1350px;
    padding-right: 50px;
    border: 5px solid #000000;
    background-color: #006400;
    text-align: center;
}

#Dezerti{
    float: left;
    padding-top: 10px;
    padding-bottom: 25px;
    margin-top: 100px;
    padding-right: 200px;
    padding-left: 20px;
    border: 2px solid #000000;
    border-left: 0px;
    background-color: #006400;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    font-size: 30px;
}

#prvi{
    margin-top: 50px;
    padding: 25px;
    font-size: 30px;
    background-color: #006400;
}

#pod{
    margin-top: 50px;
    width: 99%;
    background-color: #006400;
    color: #fff;
    padding: 10px;
    padding-bottom: 25px;
    border-bottom: 5px solid black;
}

#tabla{
    float: right;
    border: 5px solid #000000;
    background-color: #006400;
    padding: 50px;
    margin-top: 160px;
    text-align: center;
}

#insta, #tiktak, #facebook, #youtube {
    width: 40px;
    height: 40px;
    margin-top: 7px;
}

#kontakt-form {
    background-color: #006400; /* tamno zelena pozadina */
    color: #ffffff;            /* bela slova */
    padding: 20px;
    margin: 30px auto;
    width: 60%;
    border: 3px solid #000000;
    border-radius: 10px;
}

#kontakt-form label {
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

#kontakt-form input,
#kontakt-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #2c2a2a; /* tamno siva polja */
    color: #ffffff;
}

#kontakt-form button {
    background-color: #00d600; /* svetlo zelena dugme */
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

#kontakt-form button:hover {
    background-color: #03a803; /* tamnija zelena na hover */
}
