body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #dff1de;
}

header {
    background-color: #333c46;
    color: white;
    padding: 2px;
    text-align: center;
}

nav {
    background-color: #19977c;
    padding: 15px;
    text-align: center;
    font-size: 25px;
}

nav a {
    color: white;
    margin: 0 50px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
    color: #333c46;
}

.box {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
    place-content: center;
}

.box :hover {
    background-color: rgb(225, 235, 232);
    transform: scale(1.01);
    transition: transform 0.1s ease;
}

.container-left {
    background-color: rgb(231, 231, 231);
    padding: 20px;
    border-radius: 8px;
    place-items: center;
    max-width: 500px;
}

.container-right {
    background-color: rgb(231, 231, 231);
    padding: 20px;
    border-radius: 8px;
    place-items: left;
    max-width: 500px;
} 

.profile-img {
    border-radius: 20px;
    border: 6px solid;
    place-content: center;
    width: 150px;
    display: block;
    margin-top:25px;
}

table {
    width: 25%;
    border-collapse: collapse;
    margin-top: 50px;
}

table, th, td {
    border: 6px solid #ccc;
}

th {
    background-color: #ecf0f1;
    min-width: 200px;
}

th, td {
    padding: 10px;
    text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333c46;
    color: white;
    text-align: center;
}

/* Druga strana */

.box2 {
    display: flex;
    gap: 50px;
    margin-top: 20px;
    flex-wrap: wrap;
    place-content: center;
}

.container-left2 {
    background-color: rgb(231, 231, 231);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    max-width: 500px;
}

.container-left2 h3, h1 {
    text-align: center;
    margin-top: 40px;
}

.container-left2 p {
    padding-left: 20px;
    padding-right: 20px;
}

.container-left2 a {
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
}

.container-left2 a:hover {
    transform: scale(1.05);
    transition: transform 0.1s ease;
    color: #333c46;
}

.container-right2 {
    background-color: rgb(231, 231, 231);
    padding: 20px;
    border-radius: 8px;
    place-items: center;
    max-width: 900px;
}

.binomna-img {
    width: 780px;
    border: 3px solid;
}

/* kontakt page */

.kontaktinfo {
    margin: 40px auto;
    background-color: #19977c;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.kontaktinfo form {
    display: flex;
    flex-direction: column;
}

.kontaktinfo label {
    margin: 10px 0 5px;
    font-weight: 600;
    color: white;
}

.kontaktinfo input,
.kontaktinfo textarea {
    max-width: 400px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid black;
    background-color: #46574e;
    color: white;
    font-size: 14px;
    outline: none;
}

.kontaktinfo option {
    color: gray;
}

.kontaktinfo select {
    max-width: 200px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid black;
    background-color: #46574e;
    color: white;
    font-size: 14px;
    outline: none;
}

.kontaktinfo button {
    margin-top: 20px;
    padding: 12px;
    border-radius: 8px;
    border-color: black;
    background-color: #48775c;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease;
    width: 520px;
}

.kontaktinfo button:hover {
    background-color: #495f5a;
    transform: scale(1.01);
}