:root {
  --bg-color: #cbd7db;
  --bg-red: #58001d;
  --bg-gray: #838383;
  --border-gray: #334053;
}

.side-img {
  float: left;
  margin: 8px 8px 8px 0;
  width: 400px;

  border: 1px solid var(--bg-gray);
  padding: 16px;
}

table {
  font-size: 16px;

  border-collapse: collapse;
  width: 100%;

  margin-bottom: 16px;
}

td,
th {
  border: 1px solid var(--bg-gray);
  text-align: left;
  padding: 8px;
}

.container {
  padding: 16px;
}

.text-container {
  padding: 8px;
}
