.flexbox {
	display: flex;
	align-items: center;
	gap: 30px;
}

body {
	font-family: "Roboto", sans-serif;
	line-height: 1.7;
	padding: 0px;
	margin: 0px;
	background-color: #ffeeb5;
}

nav {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #6e75d8;
	padding: 15px;
	border-bottom: 2px solid;

	a {
		text-decoration: none;
	}
}

a {
	color: #000000;
}

a:hover {
	border: 1px solid black;	
}

h1 {
	margin-top: 60px;
}

button {
	background-color: #6e75d8;
	border-color: #000000;
}

table {
	background-color: #6e75d8;
}

th {
	background-color: black;
	color: white;
}

td {
	background-color: #ffeeb5;
}
table, th, td {
	border: 1px solid black}
