body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e5e5e5;
}

/* Navbar */
#navbar {
    background-color: #5757f4;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

#navbar a:hover {
    text-decoration: underline;
}

/* Glavni deo */
.glavni {
    max-width: 900px;
    margin: 40px auto;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.glavni h1 {
    margin-bottom: 20px;
}


.glavni table {
    width: 100%;
    border-collapse: collapse;
}

.glavni td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.glavni td.label {
    font-weight: bold;
    width: 30%;
    background-color: #e5e5e5;
}

.glavni td.value a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #0000ff;
    font-weight: bold;
}

.glavni td.value {
    transition: background-color 0.2s ease;
}

.glavni td.value:hover {
    background-color: #e6ecff;
    cursor: pointer;
}

/* Kontakt */

.contact {
    max-width: 400px;
    margin: 60px auto;
    background: #ffffff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact h3 {
    text-align: center;
    margin-bottom: 15px;
}

.contact .info {
    text-align: center;
    margin-bottom: 20px;
    color: #555;
}

.contact form {
    display: flex;
    flex-direction: column;
}

.contact input,
.contact textarea {
    margin-bottom: 12px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

.contact input:focus,
.contact textarea:focus {
    outline: none;
    border-color: #3b82f6;
}

.contact button {
    padding: 10px;
    font-size: 15px;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact button:hover {
    background-color: #2563eb;
}


/* Seminarski rad */

.tema {
    max-width: 900px;
    margin: 30px auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.tema h2 {
    color: #123483;
}

.tema .content {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}
.tema img {
    max-width: 300px;
    border-radius: 8px;
}
.tema ul {
    margin-top: 10px;
}