body{
    background-image: url("slike/galaxy.png");
    background-repeat: repeat-x repeat-y;
    font-family: monospace;
    font-size: 15px;
    color: white;
}

.title-div { /*naslov*/
    text-align: right;
    padding: 20px;
    margin-bottom: 20px;
}

p {
  color: white;
}

li a {
  background-color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  display: inline-block;
}

li a:hover{
    background-color: rgba(0, 0, 51, 70%);
    color: white;
    text-shadow:0 0 6px white, /* inner glow */
    0 0 12px white; /* outer glow */
}

a{
    color: RoyalBlue;
}

nav {
    background-color: rgba(0, 0, 51, 70%);
    padding: 15px;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.content-wrapper {
    display: flex;
    gap: 20px;
    height: max-content;
}

.content-box {
    background-color: rgba(0, 0, 51, 70%);
    flex: 1;
    padding: 20px;
}

.image-box {
    width: 250px;
    height: 250px;
    padding: 20px;
    text-align: center;
    flex-shrink: 0;
}

th, td {
    border:2pt dotted white;
    border-radius: 7px;
}

.table-holder {
  display: flex;
  gap: 2rem;
}

table {
    display: inline;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

textarea, input {
    outline: none;
    background-color: rgba(188, 194, 254, 65%);
    font-family: monospace;
    
}

input::placeholder, textarea::placeholder {
    color: rgba(0, 0, 51, 70%);
}


button{
    background-color: rgb(107, 123, 254);
}

#koral{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

html 
{
cursor: url(nat660.cur),  auto !important;
}
